/* Add CSS Styling */
p{
    background-color: pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#one{
    color: blue;
    font-size: 36px;
}
#two{
    font-size: 24px;
}
#three{
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}
